- name: Build pipx install command
  set_fact:
    pipx_install_cmd: >-
      pipx install
      'hitide-backfill-tool{{ "==" + hitide_backfill_tool_version if hitide_backfill_tool_version is defined else "" }}'
      --global
      --python python3.11
      {{ "--pip-args '--index-url " + pip_index_url +
         (" --extra-index-url " + pip_extra_index_url if pip_extra_index_url is defined else "") + "'" if pip_index_url is defined else "" }}

- name: Install hitide-backfill-tool
  ansible.builtin.shell:
    cmd: "{{ pipx_install_cmd }}"
  args:
    executable: /bin/bash

- name: Ensure cumulus-configurations folder exists
  ansible.builtin.file:
    path: /home/ssm-user/hitide-backfill-tool/cumulus-configurations
    state: directory
    mode: '0755'

- name: Ensure backfill-configs folder exists
  ansible.builtin.file:
    path: /home/ssm-user/hitide-backfill-tool/backfill-configs
    state: directory
    mode: '0755'
